<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>javaClass</key>
	<string>com.ghzzpg.ios</string>
	<key>result</key>
	<dict>
		<key>clientlist</key>
		<array>
			<dict>
				<key>letter</key>
				<string>A</string>
				<key>namelist</key>
				<array>
					<dict>
						<key>backgorund</key>
						<string>#ec654f</string>
						<key>firstword</key>
						<string>A</string>
						<key>id</key>
						<string>b497c8bd26bd4d5b93480b226a652f59</string>
						<key>isadd</key>
						<string>0</string>
						<key>mobilephone</key>
						<array>
							<dict>
								<key>key</key>
								<string>mobile</string>
								<key>value</key>
								<string>08553210110</string>
							</dict>
						</array>
						<key>name</key>
						<string>A1234</string>
					</dict>
					<dict>
						<key>backgorund</key>
						<string>#33ccff</string>
						<key>firstword</key>
						<string>A</string>
						<key>id</key>
						<string>79eab21bfb384cc89f129c38349a53cd</string>
						<key>isadd</key>
						<string>0</string>
						<key>mobilephone</key>
						<array>
							<dict>
								<key>key</key>
								<string>mobile</string>
								<key>value</key>
								<string>8885551212</string>
							</dict>
						</array>
						<key>name</key>
						<string>AppleseedJohn</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>letter</key>
				<string>B</string>
				<key>namelist</key>
				<array>
					<dict>
						<key>backgorund</key>
						<string>#ec654f</string>
						<key>firstword</key>
						<string>B</string>
						<key>id</key>
						<string>25680f5eefd448d496ed634e629e2b43</string>
						<key>isadd</key>
						<string>0</string>
						<key>mobilephone</key>
						<array>
							<dict>
								<key>key</key>
								<string>mobile</string>
								<key>value</key>
								<string>3345543223334</string>
							</dict>
						</array>
						<key>name</key>
						<string>B2345</string>
					</dict>
					<dict>
						<key>backgorund</key>
						<string>#ff9933</string>
						<key>firstword</key>
						<string>B</string>
						<key>id</key>
						<string>67b17e2649c648bdb7b7d6fb6ebbecb0</string>
						<key>isadd</key>
						<string>0</string>
						<key>mobilephone</key>
						<array>
							<dict>
								<key>key</key>
								<string>mobile</string>
								<key>value</key>
								<string>4543334333333</string>
							</dict>
						</array>
						<key>name</key>
						<string>B2345</string>
					</dict>
					<dict>
						<key>backgorund</key>
						<string>#ecbe4f</string>
						<key>firstword</key>
						<string>B</string>
						<key>id</key>
						<string>d3c4a8177663425a91a40edfb5e92c1c</string>
						<key>isadd</key>
						<string>0</string>
						<key>mobilephone</key>
						<array>
							<dict>
								<key>key</key>
								<string>mobile</string>
								<key>value</key>
								<string>3344322223322</string>
							</dict>
						</array>
						<key>name</key>
						<string>B2345</string>
					</dict>
					<dict>
						<key>backgorund</key>
						<string>#ec654f</string>
						<key>firstword</key>
						<string>B</string>
						<key>id</key>
						<string>bbb2ec2d571a4cd5940614ccc7a20f5b</string>
						<key>isadd</key>
						<string>0</string>
						<key>mobilephone</key>
						<array>
							<dict>
								<key>key</key>
								<string>mobile</string>
								<key>value</key>
								<string>(555)5648583</string>
							</dict>
						</array>
						<key>name</key>
						<string>BellKate</string>
					</dict>
					<dict>
						<key>backgorund</key>
						<string>#ecbe4f</string>
						<key>firstword</key>
						<string>B</string>
						<key>id</key>
						<string>f83499a2e9604e34a3917544cc827192</string>
						<key>isadd</key>
						<string>0</string>
						<key>mobilephone</key>
						<array>
							<dict>
								<key>key</key>
								<string>mobile</string>
								<key>value</key>
								<string>(415)5553695</string>
							</dict>
						</array>
						<key>name</key>
						<string>BellKate</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>letter</key>
				<string>C</string>
				<key>namelist</key>
				<array>
					<dict>
						<key>backgorund</key>
						<string>#33ccff</string>
						<key>firstword</key>
						<string>C</string>
						<key>id</key>
						<string>23fbb3f19aa9453cbc77a00f54e41b02</string>
						<key>isadd</key>
						<string>0</string>
						<key>mobilephone</key>
						<array>
							<dict>
								<key>key</key>
								<string>mobile</string>
								<key>value</key>
								<string>(444) 4444444</string>
							</dict>
						</array>
						<key>name</key>
						<string>C3456</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>letter</key>
				<string>D</string>
				<key>namelist</key>
				<array>
					<dict>
						<key>backgorund</key>
						<string>#ff9933</string>
						<key>firstword</key>
						<string>D</string>
						<key>id</key>
						<string>4ef738803bbc4a7da6b70dca6666b2c8</string>
						<key>isadd</key>
						<string>0</string>
						<key>mobilephone</key>
						<array>
							<dict>
								<key>key</key>
								<string>mobile</string>
								<key>value</key>
								<string>6555444</string>
							</dict>
						</array>
						<key>name</key>
						<string>D4567</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>letter</key>
				<string>E</string>
				<key>namelist</key>
				<array>
					<dict>
						<key>backgorund</key>
						<string>#6793ec</string>
						<key>firstword</key>
						<string>E</string>
						<key>id</key>
						<string>efce4c186c8047c8ad57e7224ad925d4</string>
						<key>isadd</key>
						<string>0</string>
						<key>mobilephone</key>
						<array>
							<dict>
								<key>key</key>
								<string>mobile</string>
								<key>value</key>
								<string>43667777765</string>
							</dict>
						</array>
						<key>name</key>
						<string>E5678</string>
					</dict>
					<dict>
						<key>backgorund</key>
						<string>#ec654f</string>
						<key>firstword</key>
						<string>E</string>
						<key>id</key>
						<string>083fc8dfc973474a90c04b60cd09050c</string>
						<key>isadd</key>
						<string>0</string>
						<key>mobilephone</key>
						<array>
							<dict>
								<key>key</key>
								<string>mobile</string>
								<key>value</key>
								<string>86546777655</string>
							</dict>
						</array>
						<key>name</key>
						<string>E5678</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>letter</key>
				<string>H</string>
				<key>namelist</key>
				<array>
					<dict>
						<key>backgorund</key>
						<string>#7ad64c</string>
						<key>firstword</key>
						<string>H</string>
						<key>id</key>
						<string>8660ee94af914100b5c8d52b2772f08c</string>
						<key>isadd</key>
						<string>0</string>
						<key>mobilephone</key>
						<array>
							<dict>
								<key>key</key>
								<string>mobile</string>
								<key>value</key>
								<string>5555228243</string>
							</dict>
						</array>
						<key>name</key>
						<string>HaroAnna</string>
					</dict>
					<dict>
						<key>backgorund</key>
						<string>#ec654f</string>
						<key>firstword</key>
						<string>H</string>
						<key>id</key>
						<string>8f01aef39dec4ab4b6dc7a9f811d253b</string>
						<key>isadd</key>
						<string>0</string>
						<key>mobilephone</key>
						<array>
							<dict>
								<key>key</key>
								<string>mobile</string>
								<key>value</key>
								<string>5554787672</string>
							</dict>
						</array>
						<key>name</key>
						<string>HigginsDaniel</string>
					</dict>
					<dict>
						<key>backgorund</key>
						<string>#33ccff</string>
						<key>firstword</key>
						<string>H</string>
						<key>id</key>
						<string>b8153823b164467db6a6a5d64d8e15e5</string>
						<key>isadd</key>
						<string>0</string>
						<key>mobilephone</key>
						<array>
							<dict>
								<key>key</key>
								<string>mobile</string>
								<key>value</key>
								<string>(408)5555270</string>
							</dict>
						</array>
						<key>name</key>
						<string>HigginsDaniel</string>
					</dict>
					<dict>
						<key>backgorund</key>
						<string>#ecbe4f</string>
						<key>firstword</key>
						<string>H</string>
						<key>id</key>
						<string>7ccbd6c1512a4024a49d29996ac816e0</string>
						<key>isadd</key>
						<string>0</string>
						<key>mobilephone</key>
						<array>
							<dict>
								<key>key</key>
								<string>mobile</string>
								<key>value</key>
								<string>(408)5553514</string>
							</dict>
						</array>
						<key>name</key>
						<string>HigginsDaniel</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>letter</key>
				<string>T</string>
				<key>namelist</key>
				<array>
					<dict>
						<key>backgorund</key>
						<string>#96c670</string>
						<key>firstword</key>
						<string>T</string>
						<key>id</key>
						<string>ac0214cec50349ff8cd144dc5827b8a9</string>
						<key>isadd</key>
						<string>0</string>
						<key>mobilephone</key>
						<array>
							<dict>
								<key>key</key>
								<string>mobile</string>
								<key>value</key>
								<string>5556106679</string>
							</dict>
						</array>
						<key>name</key>
						<string>TaylorDavid</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>letter</key>
				<string>Z</string>
				<key>namelist</key>
				<array>
					<dict>
						<key>backgorund</key>
						<string>#33ccff</string>
						<key>firstword</key>
						<string>Z</string>
						<key>id</key>
						<string>a38d9201424d4671822416385b953f31</string>
						<key>isadd</key>
						<string>0</string>
						<key>mobilephone</key>
						<array>
							<dict>
								<key>key</key>
								<string>mobile</string>
								<key>value</key>
								<string>(555)7664823</string>
							</dict>
						</array>
						<key>name</key>
						<string>ZakroffHank</string>
					</dict>
					<dict>
						<key>backgorund</key>
						<string>#33ccff</string>
						<key>firstword</key>
						<string>Z</string>
						<key>id</key>
						<string>2e6a94ddf6fd4034bd82934ca098c582</string>
						<key>isadd</key>
						<string>0</string>
						<key>mobilephone</key>
						<array>
							<dict>
								<key>key</key>
								<string>mobile</string>
								<key>value</key>
								<string>(707)5551854</string>
							</dict>
						</array>
						<key>name</key>
						<string>ZakroffHank</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>zimu</key>
		<array>
			<dict>
				<key>letter</key>
				<string>A</string>
			</dict>
			<dict>
				<key>letter</key>
				<string>B</string>
			</dict>
			<dict>
				<key>letter</key>
				<string>C</string>
			</dict>
			<dict>
				<key>letter</key>
				<string>D</string>
			</dict>
			<dict>
				<key>letter</key>
				<string>E</string>
			</dict>
			<dict>
				<key>letter</key>
				<string>H</string>
			</dict>
			<dict>
				<key>letter</key>
				<string>T</string>
			</dict>
			<dict>
				<key>letter</key>
				<string>Z</string>
			</dict>
		</array>
	</dict>
	<key>resultdesc</key>
	<string></string>
	<key>resultstate</key>
	<integer>0</integer>
</dict>
</plist>
